.classManage table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
    padding: 10px;
  }
  .classManage th{
    width: 150px;
  }
  .classManage table input{
      width: 50px;
      /* margin-left: 15px; */
      background-color: rgb(241, 238, 238);
      height: 30px;
      min-width: 100%;
      text-align: center;
  }
  .classManage td{
      width: 45px;
  }
  .classManage button{
    background-color: green;
    width: 128px;
    padding: 2px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
  }
  .classManage h1{
    font-size: 34px;
    text-transform: capitalize;
    background: cyan;
    color: blue;
    display: block;
    max-width: 240px;
  }

  .classManage td i{
    cursor: pointer;
  }
  .refresh{
    background: blue;
    color: wheat;
    cursor: pointer;
  }