

.wrapper .card .cardData{
    width: 350px;
   min-height: 350px;
    background-color: blue;
    padding: 5px;
    text-align: center;
}
.cardData{
    border-radius: 15px;
    color: white;
}
.cardData img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}